[submodule "edge"]
	path = edge
	url = https://github.com/aCubed-tm/edge.git
[submodule "authentication-service"]
	path = authentication-service
	url = https://github.com/aCubed-tm/authentication-service.git
